{%include "3rd_one_click_three"%}
{% schema %}
  {
    "name": "One Click",
    "settings": [
{
          "type": "checkbox",
          "id": "enable",
          "label": "Display for live site?",
		      "default":true
        },
        {
          "type": "checkbox",
          "id": "default_open",
          "label": "default hide?",
		  "default":true
        },
		{
          "type": "text",
          "id": "headline",
          "label": "Section Title",
		  "default":"One-click fixes to up your game."
        },
		{
          "type": "text",
          "id": "sheadline",
          "label": "Section Headline",
		  "default":"One-click fixes to up your game."
        },
		{
          "type": "richtext",
          "id": "description",
          "label": "Description",
		  "default":"<p>Included with your preset pack, our custom tools help you correct the trickiest photos.</p>"
        },
		{
            "type": "header",
            "content": "First Block"
        },
		{
          "type": "image_picker",
          "id": "fimage",
          "label": "Image"
        },
	    {
          "type": "text",
          "id": "ftitle",
          "label": "Title",
		  "default":"AUTO WHITE BALANCE"
        },
		{
          "type": "html",
          "id": "fcontent",
		  "label":"Content",
		   "default": "<p>Sometimes your camera gets it wrong. Get a starting point for true-to-life color.<\/p>"
        },
		{
            "type": "header",
            "content": "Second Block"
        },
		{
          "type": "image_picker",
          "id": "simage",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "stitle",
          "label": "Title",
		  "default":"LENS CORRECTION"
        },
		{
          "type": "html",
          "id": "scontent",
		  "label":"Content",
		   "default": "<p>Fix vignetting and distortion, minimize color fringing, and remove chromatic aberration to instantly improve every image.<\/p>"
        },
		{
            "type": "header",
            "content": "Third Block"
        },
		{
          "type": "image_picker",
          "id": "timage",
          "label": "Image"
        },
	    {
          "type": "text",
          "id": "ttitle",
          "label": "Title",
		  "default":"AUTO TRANSFORM"
        },
		{
          "type": "html",
          "id": "tcontent",
		  "label":"Content",
		   "default": "<p>Tired of crooked buildings?Clean up your photosby correcting vertical and horizontal lines.<\/p>"
        },
		{
          "type": "color",
          "id": "background_color",
          "label": "Background Color"
        },
		{
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
		  "default":"#cccccc"
        },
		{
          "type": "color",
          "id": "hbackground_color",
          "label": "Toggle Background Color"
        },
		{
          "type": "color",
          "id": "htext_color",
          "label": "Toggle Text Color",
		  "default":"#000000"
        },
	  {
        "type": "header",
        "content": "Padding Setting"
      },
	  {
        "type": "text",
        "id": "padding",
        "label": "Desktop Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      },
	  {
        "type": "text",
        "id": "mobile_padding",
        "label": "Mobile Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      }

	]
  }
{% endschema %}
