{%render "community_text_image_caption"%}
{% schema %}
  {
    "name": "Community Image caption",
    "settings": [
	  {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"default":"Join more than 50,000 photographers creating their own way."
      },
	  {
        "type": "html",
        "id": "description",
        "label": "Content",
		"default":"<p>Make beautiful photos, find your crew, and take charge of your life and career in our free Facebook community.</p>"
      },
	  {
        "type": "text",
        "id": "button",
        "label": "Button",
		"default":"JOIN THE COMMUNITY >"
      },
	  {
        "type": "url",
        "id": "link_button",
        "label": "Button Link"
      },
	  {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
	  {
        "type": "text",
        "id": "caption",
        "label": "Image Caption",
		"default":"Photo by Kike Arnaiz."
      }
	],
	"presets": [
      {
        "name": "Community Image caption",
        "category": "Deprohoang Sections"
		}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
