{%include "customer-says"%}
{% schema %}
  {
    "name": "Customers Say",
    "class": "index-section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Customers Say"
      },
	  
	  {
        "type": "color",
        "id": "background_color",
        "label": "Custom background color ",
        "default": "#ffffff"
      },
	  {
        "type": "select",
        "id": "slider_per_page",
        "label": "Testimonial per page",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "round_images",
        "label": "Circular images",
        "info": "Requires square images"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
	  {
        "type": "header",
        "content": "Main content settings"
      },
	  {
        "type": "image_picker",
        "id": "main_background_image",
        "label": "Background image"
      },
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Custom background color ",
        "default": "#ffffff"
      },
	 {
        "type": "color",
        "id": "main_color",
        "label": "Tesimonials text color ",
        "default": "#ffffff"
      },
	  {
        "type": "header",
        "content": "Padding Setting"
      },
	  {
        "type": "text",
        "id": "padding",
        "label": "Desktop Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      },
	  {
        "type": "text",
        "id": "mobile_padding",
        "label": "Mobile Padding",
        "default": "0px 0px 0px 0px",
		"info" : "Top right bottom left"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "testimonial",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customers Say",
        "category": "Deprohoang Sections",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}
