{% section 'article-template' %}
{%comment%}
<div style="visibility: hidden;">
  {%assign product = all_products['fujicolor-pushed'];%}
  {% include 'product-template',
  description_style: "default",
  image_position: "left",
  image_container_width: "medium",
  section_id: 4509573316690,
  social: false,
  thumbnail_position: "below",
  thumbnail_arrows: true,
  video_looping: true,
  video_style: "unmuted"
%}

</div>
{%endcomment%}