{% comment %}
{%layout none%}
<div class="elfsight-sapp-5f59dbef-c6a8-4c88-b4be-919ef8a19345"></div>
<script src="https://shy.elfsight.com/p/platform.js?shop=mastin-test.myshopify.com"></script>
{% endcomment %}
<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>

      <div class="rte rte--nomargin">
        {{ page.content }}
      </div>

    </div>
  </div>

</div>
